
<div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newCommentLabel">Add New Comment</h4>
      </div>
        <% if user_signed_in? %>


          <div class="modal-body">
            <%= form_for @comment do |f| %>

              <div class="field">

                <%= f.text_area :content %>
              </div>
              <div class="field">
              <%= f.hidden_field :plan_id %>
              </div>
              <div class="field">
              <%= f.hidden_field :user_id %>
              </div>
            </div>

          <div class="modal-footer">

              <%= f.submit "Create", :class => "btn btn-primary" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
            <% end %>
        <% else %>
          </div>
          <div class="modal-body">
            You are not signed in
          </div>
        <% end %>

    </div>
  </div>
</div>