<div class="row">

    <div class="col-md-6" id="messagelist">

        <ol class="message-item">
        <% @plan.comments.each do |comment| %>


          <li class="message-item" data-id='comment.id'>
            <div id="message" class="row">
              <div class="header">
                <span id="user"><%=@users.find(comment.user_id).email %></span>
                <span id="time"><%=time_ago_in_words(comment.created_at) %> ago</span>
              </div>
              <div class="content">
                <%=comment.content %>
              </div>
              <div id="editcontent<%= comment.id %>">
                <%=comment.content %>
              </div>
              <div class="footer">
                <% if user_signed_in? %>
                  <button class="editcontentbtn" data-comment-id='<%= comment.id %>'>Edit</button>
                  <%= link_to 'Edit', edit_comment_path(comment), 'data-toggle' => 'modal', 'data-target' => '#editComment' %> Delete Like
                <% end %>


              </div>
            </div>
          </li>

        <% end %>
          <li class="message-item-footer">
          </li>
        </ol>
    </div>
  </div>
