<div class="row">

    <div class="col-md-6" id="messagelist">

        <ol class="message-item">
        <% @plan.comments.each do |comment| %>


          <li class="message-item" data-id='comment.id'>
            <div id="message" class="row">
              <div class="header">
                <span id="user"><%=@users.find(comment.user_id).email %></span>
                <span id="time"><%=time_ago_in_words(comment.created_at) %> ago</span>
              </div>
              <div class="content" id="content<%= comment.id %>"><%=comment.content %></div>

              <div class="footer">
                <% if user_signed_in? %>
                  <% if comment.user_id = current_user %>
                    <a class="editcontentbtn" data-comment-id='<%= comment.id %>'>Edit</a>
                    <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  <div id="like_div">
                    <% @comment = comment %>
                    <%= render 'likes/like_link', comment: @comment %>

                  </div>
                <% end %>


              </div>
            </div>
          </li>

        <% end %>
          <li class="message-item-footer">
          </li>
        </ol>
    </div>
  </div>
