
<div class="row rating">
  <div class="col-md-6" id="messagelist">
  <ol class="message-item">
    <li class="message-item-header"><div id="message" class="row"><h5>Rating</h5></div></li>
    <li class="message-item"><div id="message" class="row">
        <h3><%= @plan.ratings.average(:rating) %></h3>

        <span>Out of <%= @plan.ratings.count %> Votes</span>



    </div></li>
    </ol>
  </div>
</div>


<div class="row messages">

    <div class="col-md-6" id="messagelist">

        <ol class="message-item">
          <li class="message-item-header"><div id="message" class="row"><h5>Comments</h5></div>
          </li>
        <% @plan.comments.reverse.each do |comment| %>


          <li class="message-item" data-id='comment.id'>
            <div id="message" class="row">
              <div class="header">
                <span id="user">
                <% if @users.find(comment.user_id).nickname? %>
                  <%=@users.find(comment.user_id).nickname %>
                <% else %>
                  <%=@users.find(comment.user_id).email %>
                <% end %>
                </span>
                <span id="time"><%=time_ago_in_words(comment.created_at) %> ago</span>
              </div>
              <div class="content" id="content<%= comment.id %>"><%=comment.content %></div>

              <div class="footer">
                <% if user_signed_in? %>



                  <div id="like_div_<%=comment.id %>" data-comment-id='<%= comment.id %>'>
                    <% @comment = comment %>
                    <%= render 'likes/like_link', comment: @comment %>

                  </div>
                  <span class="editbar" id="total_likes_<%=comment.id %>">
                    <%=@comment.likes.count %> Likes</span>

                  <% if comment.user_id == current_user.id %>
                    <span class="editbar"><a class="editcontentbtn" data-comment-id='<%= comment.id %>'>Edit</a></span>
                    <span class="editbar"><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                  <% end %>
                <% end %>


              </div>
            </div>
          </li>

        <% end %>
          <li class="message-item-footer">
          </li>
        </ol>
    </div>
  </div>
