    <div id="panel">

        <form class="map_address">

          <div class="form-group">
          <div class="row">
            <h1>Find a Plan</h1>
            <input class="form-control" id="address" type="textbox" autofocus>

            <button type="button" class="btn btn-primary" id="btn_address">Find</button>
</div>
          </div>
          </div>

        </form>
    </div>
<!--     <div id="map"></div> -->
    <div id="map-canvas"/>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>