    <div id="panel">
        <h2>Find a Location</h2>
        <form class="map_address">
          <div class="form-group">
            <div class="col-xs-4">
              <input class="form-control" id="address" type="textbox" autofocus></div>
            <button type="button" class="btn" id="btn_address">Find</button>

          </div>

        </form>
    </div>
<!--     <div id="map"></div> -->
    <div id="map-canvas"/>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>



