    <div id="panel">

      <form class="map_address">


            <div class="row">
              <div class="form-group">
              <input class="form-control input-lg" placeholder="Type address to find a plan" id="address" type="textbox" autofocus>

              <input type="submit" class="btn btn-primary input-lg" id="btn_address" value="Find">
            </div>
          </div>


      </form>
    </div>
<!--     <div id="map"></div> -->
    <div id="map-canvas"/>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>