

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Classification</th>
      <th>Color Code</th>
      <th>Texture</th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
    <tr>
      <td><%= zone.code %></td>
      <td><%= zone.description %></td>
      <td><%= zone.classification %></td>
      <td bgcolor=<%= zone.color_code %>></td>
      <td><%= image_tag zone.texture.url(:thumb) %></td>

      <td><%= link_to 'Edit', edit_zone_path(zone), :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Delete', zone, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Add New Zone', new_zone_path %>