/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


html, body {
  height: 100%;
}

body {
  padding-top: 50px;
  margin: 10px;

}

label {
  font-size: 14pt;
}

.btn-primary {
  background-color: #880000;
  border-color: #440000;
}

.btn-primary:hover {
  background-color: #440000;
  border-color: #440000;
}


#form_modify_polygon .btn-primary {
  float: left;
  margin-right: 2px;
}

#panel {
  h1 {
    color: #880000;
    margin-top: 0;
    margin-right: 10px;
  }

  .form-control {
    display: inline;
    width: 80%;
    max-width: 500px;
  }

  input {
    vertical-align:top;
  }
}

.navbar-inverse {
  background-color: #880000;
  border-color: #550000;

  .navbar-nav > li > a {
    color: #ffffff;
  }

  .navbar-nav > li:hover {
    background-color: #ffffff;
    a {
    color: #000000;
    }
  }
}


.navbar-inverse .navbar-brand {
  background-color: #ffffff;
  border-radius: 10px;
  color: #880000;
  font-family: "gill sans", "sans-serif";
  font-size: 20pt;
  margin-top: 5px;
  height: 40px;
  padding: 10px 10px;
  margin-left: 5px;
}


h1 {
  font-size: 25px;

}

.plan .heading {
  margin-bottom: 20px;
  display: block;
}

#plan-name {
  float: left;
  margin-top: 5px;
  color: #880000;
  margin-right: 10px;
}

.span12.case-menu {
  margin-bottom: 10px;
}

.btn-glow {
  background-color: #880000;
  padding: 10px 10px;

  color: #ffffff;
}

.userplan1 {

  float: left;
  position: relative;
  display: block;

  margin: 10px 5px;
}

.btn-glow:hover {
  background-color: #440000;
  color: #ffffff;

}

.legendbox {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

li.vertex {
  display: none;
}

li.user_polygon {
  display: none;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}