// Place all the styles related to the plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.plan_id {
  display: none;
}

.planform {
  textarea.form-control {
    height: 150px;
  }
}

.col-sm-3.zone_sidebar {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar ul {
    float: none;
  }

  .sidebar-nav .navbar ul:not {
    display: block;
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li:hover {
    float: none;
    display: block;
    background-color: #999999;
  }

  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

}

.planform .row {
  margin-bottom: 10px;
}

#like_div form {
  display: inline;
}

.editbar {
  margin-left: 5px;
  margin-right: 5px;
}

#message {

  min-height: 30px;
  margin: 2px 5px 2px -15px;
  padding: 2px 2px 2px 2px;
  .row {
    margin-left: 0;
  }
}

#messagelist {
  border-radius: 6px;
  display: block;
  background-color: #EEEEEE;
  padding: 0;
}

#comment_content {
  width: 100%;
  height: 100px;
}

ol.message-item {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

li.message-item {
    display: list-item;
    background-clip: padding-box;
  }

li.message-item-footer {
  height: 20px;
}

#message:hover {
  background-color: #EEDFDF;
}
#message {
  border-bottom: 1px solid #EEDFDF;
  padding: 9px 12px;
  position: relative;
  display: block;
  margin: 0;

  .header {

    color: #000000;
    font-size: 14px;
    #user {
      font-weight: bold;
    }
    #time {
      color: #888888;
    }
  }

  .content {
    font-size: 14px;
  }

  .footer {
    font-weight: normal;
    font-size: 12px;
    color: #8899a6;
  }
}