<div class="row">

    <div class="col-md-3" id="messagelist">

      <% @comments.each do |comment| %>
        <div id="message" class="row">
          <div class="row">
            <%=@users.find(comment.user_id).email %>
          </div>
          <div class="row">
            <%=comment.content %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <form id="newcomment" action="/plan/comment/<%= @plans.id %>" method="post">
          <input placeholder="comment" name="content" type="text">
          <input type="submit" value"submit comment">
        </form>
      </div>




    </div>
  </div>