<div id='newzoneform'>
  <form action='/plan/userplan/newzone/' method='post'>Polygon: <input type='text' value='#{id}' name='polygonid'>
        <br>Change to: <input type='text' name='zoneid'><br>
        <input type='submit' value='submit'>
  </form>
</div>
<li class="plan_id" data-planid=<%=@plans.id %>> <%=@plans.id %> </li>

  <div class="row">

    <div id="map-canvas"/></div>
  </div>
  <div class="row">
    <% @zones.each do |zone| %>
        <li class="zone" data-id=<%= zone.id %> data-code=<%= zone.code %> data-color=<%= zone.color_code %> > <div class="legendbox" style="background-color:<%= zone.color_code %>"></div><%= zone.classification %> </li>
    <% end %>
  </div>