<div class="planform">
  <%= form_for(@plan) do |f| %>
  <div class="row">
    <div class="form-group">

        <%= f.label :name, class: "col-md-4 control-label"  %>

      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
        <%= f.label :district, class: "col-md-4 control-label"  %>
      <div class="col-md-8">
        <%= f.text_field :district, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">

        <%= f.label :content, class: "col-md-4 control-label"  %>

      <div class="col-md-8">
        <%= f.text_area :content, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <div class="col-md-8">
        <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>