<div id="table-page">
<h1>Edit Plans</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th class="col-md-1">ID</th>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">District</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <% @plan = plan %>
    <tr>
      <td class="col-md-1"><%= plan.id %></td>
      <td class="col-md-4"><%= plan.name %></td>
      <td class="col-md-4"><%= plan.district %></td>

      <td class="col-md-1"><%= link_to 'Edit', edit_plan_path(plan), :class => 'btn btn-primary' %></td>
      <td class="col-md-1"><%= link_to 'Stats', plans_stats_path(id: @plan.id), :class => 'btn btn-primary' %></td>
      <td class="col-md-1"><%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>