<li class="plan_id" data-planid=<%=@plan.id %>> <%=@plan.id %> </li>


<div class="plan">
  <div class="row">
    <div class="heading clearfix">
      <h1 id="plan-name"><%= @plan.name %></h1>

      <% if user_signed_in? %>
        <div class="userplan1"><a class="btn-glow" data-toggle='modal' data-target="#newComment">Add Comment</a></div>
        <div class="userplan1"><a class="btn-glow" data-toggle='modal' data-target="#newRating">Rate Plan</a></div>
        <div class="userplan1"><%= link_to "Customize Plan", user_polygon_path(id: @plan.id), :class => 'btn-glow' %></div>

      <% end %>

    </div>
  </div>

  <div class="plan-status">
    <ul class="plan-status-steps">
      <li class="plan-header">
        Status
      </li>
        <li class="plan-step active">
          <a><span>Opened</span></a>
        </li>
      <% @plan.plan_statuses.each do |plan_status| %>

        <% if plan_status.active %>
          <li class="plan-step active">
        <% else %>
          <li class="plan-step">
        <% end %>
          <a>
          <span>
          <%= plan_status.status.description %></span>
          <% if plan_status.stage %>
            <br><span>Stage <%= plan_status.stage %></span>
          <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="span12 case-menu">
    <div id="plantabs" class="btn-group" data-toggle="btns">
      <a class="btn btn-default active" href="#odp" data-toggle="tab">Outline Development Plan</a>
      <a class="btn btn-default" href="#background" data-toggle="tab">Background</a>
      <a class="btn btn-default" href="#status" data-toggle="tab">History</a>
      <a class="btn btn-default" href="#comments" data-toggle="tab">Comments</a>
      <a class="btn btn-default" href="#rating" data-toggle="tab">Rating</a>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane <%= 'active' unless params[:tab] == 'comments' %>" id="odp">
        <%= render partial: 'plans/odp', locals: { plan: @plan } %>
    </div>
    <div class="tab-pane" id="background">
        <%= render partial: 'plans/background', locals: { plan: @plan } %>
    </div>
    <div class="tab-pane" id="status">
        <%= render template: 'plan_statuses/status', locals: { plan: @plan } %>
    </div>
    <div class="tab-pane <%= 'active' if params[:tab] == 'comments' %>" id="comments">
        <%= render template: 'comments/show', locals: { plan: @plan } %>
    </div>
    <div class="tab-pane" id="rating">
        <%= render partial: 'plans/showrating', locals: { plan: @plan } %>
    </div>
  </div>
</div>




<%= render 'plans/newrating' %>
<%= render 'plans/newcomment' %>