<h1>Plan Edit Panel</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>District</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <% @plan = plan %>
    <tr>
      <td><%= plan.id %></td>
      <td><%= plan.name %></td>
      <td><%= plan.district %></td>

      <td><%= link_to 'Edit', edit_plan_path(plan), :class => 'btn btn-primary' %>
      <%= link_to 'Stats', plans_stats_path(id: @plan.id), :class => 'btn btn-primary' %>
      <%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>