<li class="plan_id" data-planid=<%=@plan.id %>> <%=@plan.id %> </li>


<div class="plan">
  <div class="row">
    <div class="heading clearfix">
      <h1 id="plan-name"><%= @plan.name %></h1>
      <div class="userplan1"><a class="btn-glow" data-toggle='modal' data-target="#newComment">Add Comment</a></div>
      <div class="userplan1"><%= link_to "Create Custom Plan", plans_userplan_path(id: @plan.id), :class => 'btn-glow' %></div>

    </div>
  </div>
  <div class="span12 case-menu">
    <div class="btn-group" data-toggle="btns">
      <a class="btn btn-default active" href="#odp" data-toggle="tab">Outline Development Plan</a>
      <a class="btn btn-default" href="#background" data-toggle="tab">Background</a>
      <a class="btn btn-default" href="#comments" data-toggle="tab">Comments</a>

    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="odp">
        <%= render partial: 'plans/odp', locals: { plan: @plan } %>
    </div>
    <div class="tab-pane" id="background">
        <%= render partial: 'plans/background', locals: { plan: @plan } %>
    </div>
    <div class="tab-pane" id="comments">
        <%= render partial: 'plans/comments', locals: { plan: @plan } %>
    </div>

  </div>




</div>

<%= render 'plans/newcomment' %>